process {
    withName: 'BCFTOOLS_VIEW' {
        ext.args = { '-f PASS -Oz --write-index=tbi' }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/filter/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{gz,tbi,vcf}"
            ]
        ]
    }
}
