process {
    withName: 'CNAQC'{
	memory = { check_max( 20.GB * task.attempt, 'memory' ) }
	cpus = { check_max( 4 * task.attempt, 'cpus' ) }
        time = { check_max( 4.h  * task.attempt, 'time'   ) }        
        errorStrategy = 'retry'
        
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/CNAqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf}"
            ]
        ]
        ext.args = {
            [
                "matching_strategy": params.cnaqc_matching_strategy,
                "karyotypes": params.cnaqc_karyotypes,
                "min_karyotype_size":params.cnaqc_min_karyotype_size,
                "min_absolute_karyotype_mutations":params.cnaqc_min_absolute_karyotype_mutations,
                "p_binsize_peaks":params.cnaqc_p_binsize_peaks,
                "matching_epsilon":params.cnaqc_matching_epsilon,
                "purity_error":params.cnaqc_purity_error,
                "vaf_tolerance":params.cnaqc_vaf_tolerance,
                "n_bootstrap":params.cnaqc_n_bootstrap,
                "kernel_adjust":params.cnaqc_kernel_adjust,
                "kde":params.cnaqc_kde,
                "starting_state_subclonal_evolution":params.cnaqc_starting_state_subclonal_evolution,
                "cluster_subclonal_CCF":params.cnaqc_cluster_subclonal_CCF,
                "muts_per_karyotype":params.cnaqc_muts_per_karyotype,
                "cutoff_QC_PASS":params.cnaqc_cutoff_QC_PASS,
                "method":params.cnaqc_method,
                "plot_cn":params.cnaqc_plot_cn
            ]
        }
    }


    withName: 'JOIN_CNAQC'{
        memory = { check_max( 10.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h  * task.attempt, 'time'   ) }
        errorStrategy = 'retry'

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/join_CNAqc/${meta.dataset}/${meta.patient}/" },
                pattern: "*{rds}"
            ]
        ]
        ext.args = {
            [
                "qc_filter": params.joincnaqc_qc_filter,
                "keep_original": params.joincnaqc_keep_original
            ]
        }
    }
}
