process {
    withName: 'CTREE' {
        memory='50 GB'
        time='2h'
        errorStrategy='ignore'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/ctree/${meta.dataset}/${meta.patient}/" },
                pattern: "**{rds,pdf,png}"
            ]
        ]
        ext.args = {
            [
                "sspace_cutoff" : params.ctree_sspace_cutoff,
                "n_sampling" : params.ctree_n_sampling,
                "store_max" : params.ctree_store_max
            ]
        }
    }
}
