process {
    withName: 'CTREE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/ctree/${meta.dataset}/${meta.patient}/" },
                pattern: "**{rds,pdf,png}"
            ]
        ]
    }
}
