// FIXME ANNOTATE_DRIVER not used anymore
//  process{
//     withName: 'ANNOTATE_DRIVER' {
//         memory = '5 GB'
//         time = '10 min'
//         errorStrategy = 'finish'
//         publishDir = [
//                 [
//                     mode: params.publish_dir_mode,
//                     path: { "${params.outdir}/DriverAnnotation/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"},
//                     pattern: "*{rds}"
//                 ]
//             ]    
//     }
// }

process{
     withName: 'DNDSCV' {
         memory = '10 GB'
         time = '10 min'
         errorStrategy = 'finish'
         publishDir = [
                 [
                     mode: params.publish_dir_mode,
                     path: { "${params.outdir}/DriverAnnotation/DNDSCV/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"},
                     pattern: "*{rds}"
                 ]
             ]    
     }

     withName: 'BUILD_REFERENCE' {
         memory = '10 GB'
         time = '10 min'
         errorStrategy = 'finish'
         publishDir = [
                 [
                     mode: params.publish_dir_mode,
                     path: { "${params.outdir}/DriverAnnotation/BUILD_REFERENCE/"},
                     pattern: "*{rds}"
                 ]
             ]    
     }
 }