 process{
    withName: 'ANNOTATE_DRIVER' {
        memory = '5 GB'
        time = '10 min'
        errorStrategy = 'finish'
        publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/DriverAnnotation/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"},
                    pattern: "*{rds}"
                ]
            ]    
    }
}