process {
    withName: 'ENSEMBLVEP_VEP'{
        ext.args = { "--plugin SingleLetterAA --force --no_stats --everything --use_given_ref --cache --offline --vcf" }

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{vcf.gz, tab.gz, json.gz, html, yml}"
            ]
        ]
    }
}

process {
    withName: 'TABIX_TABIX'{
        memory = '10 GB'
        time = '1h'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{tbi, csi, yml}"
            ]
        ]
    }
}

