process {
    withName: 'ENSEMBLVEP_VEP'{
        ext.args = { "--plugin SingleLetterAA --force --no_stats --everything --use_given_ref --cache --offline --vcf --compress_output bgzip" }

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{vcf.gz,tab.gz,json.gz,html}"
            ]
        ]
    }
}

process {
    withName: 'ENSEMBLVEP_DOWNLOAD'{
            ext.args   = { '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE' }

            publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/references/VEP/"}
                ]
            ]
        }
}

process {
    withName: 'TABIX_TABIX'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{tbi,csi}"
            ]
        ]
    }
}

process {
    withName: 'UNTAR'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/vep/" },
                pattern: "*"
            ]
        ]
    }
}
