process {
    withName: 'CNA_PROCESSING'{
        memory = { check_max( 20.GB * task.attempt, 'memory' ) }
	cpus = { check_max( 4 * task.attempt, 'cpus' ) }
        time = '30 min'
        errorStrategy = 'retry'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cna2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'VCF_PROCESSING'{
	    memory = { check_max( 20.GB * task.attempt, 'memory' ) } 
        time = '30 min'
        errorStrategy = 'retry'
        ext.args = {[
            "filter_mutations": params.vcf_filter_mutations
        ]}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/vcf2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }
    withName: 'RDS_PROCESSING'{
        memory = { check_max( 12.GB * task.attempt, 'memory' ) }
        time = '30 min'
        errorStrategy = 'retry'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cnaqc2tsv/${meta.dataset}/${meta.patient}/" },
                pattern: "*{tsv}"
            ]
        ]
    }
}
