process {
    withName: 'CNA2CNAQC'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cna2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'VCF2CNAQC'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/vcf2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }
    withName: 'CNAQC2TSV'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cnaqc2tsv/${meta.dataset}/${meta.patient}/" },
                pattern: "*{tsv}"
            ]
        ]
    }
}
