process {
    withName: 'JOINT_FIT' {
        memory='50 GB'
        time='2h'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/joint_fit/${meta.dataset}/${meta.patient}/" },
                pattern: "*{rds}"
            ]
        ]
    }
}
