 process{
    withName: 'GET_POSITIONS_ALL' {
        publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/"},
                    pattern: "*{rds}"
                ]
            ]    
        memory = '10 GB'
        time = '10 min'
        errorStrategy = 'finish'
    }

    withName: 'GET_POSITIONS_REL' {
        publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/"}
                ]
            ]    
        memory = '10 GB'
        time = '10 min'
        errorStrategy = 'finish'
    }
  
    withName: 'JOIN_POSITIONS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
        memory = '10 GB'
        time = '10 min'
        errorStrategy = 'finish'
    }


    withName: 'BCFTOOLS_MPILEUP' {
        ext.args = { "--annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR --threads 36" }
        ext.args2  = { "-m --threads 36" }

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/mpileup/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{yml,gz,tbi,txt,vcf}"
            ]
        ]
    }
 }