 process{
    withName: 'GET_POSITIONS' {
        publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/*/"},
                    pattern: "*{bed}"
                ]
            ]    
        memory = '5 GB'
        time = '10 min'
        errorStrategy = 'finish'
    }
  
    withName: 'JOIN_POSITIONS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
        container = 'docker://lvaleriani/cnaqc:dev1'
        memory = '5 GB'
        time = '10 min'
        errorStrategy = 'finish'
    }


    withName: 'BCFTOOLS_MPILEUP' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/mpileup/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{yml, gz, tbi, txt}"
            ]
        ]
    }
 }