process {
    withName: 'MOBSTERh' {
        memory='128 GB'
        time='2h'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/mobster/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,png}"
            ]
        ]
        ext.args = {
            [
                "K" : params.mobster_K,
                "samples" : params.mobster_samples,
                "init" : params.mobster_init,
                "tail" : params.mobster_tail,
                "epsilon" : params.mobster_epsilon,
                "maxIter" : params.mobster_maxIter,
                "fit_type" : params.mobster_fit_type,
                "seed" : params.mobster_seed,
                "model_selection" : params.mobster_model_selection,
                "trace" : params.mobster_trace,
                "parallel" : params.mobster_parallel,
                "pi_cutoff" : params.mobster_pi_cutoff,
                "n_cutoff" : params.mobster_n_cutoff,
                "auto_setup" : params.mobster_auto_setup,
                "silent" : params.mobster_silent
            ]
        }
    }
}
