process {
    withName: 'MOBSTER' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/mobster/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,png}"
            ]
        ]
        ext.args = {
            [
                "K" : params.mobster_K,
                "tail" : params.mobster_tail,
                "pi_cutoff" : params.mobster_pi_cutoff,
                "n_cutoff" : params.mobster_n_cutoff,
                "min_VAF" : params.mobster_min_VAF
            ]
        }
    }
}
