process {
    withName: 'PYCLONEVI' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/pyclonevi/${meta.dataset}/${meta.patient}/" },
                pattern: "*{csv,h5,tsv,txt}"
            ]
        ]
        ext.args   = {
            [
                "n_cluster": params.pyclonevi_n_cluster,
                "density": params.pyclonevi_density,
                "n_grid_point": params.pyclonevi_n_grid_point,
                "n_restarts": params.pyclonevi_n_restarts
            ]
        }
    }
}
