process {
    withName: 'SIGPROFILER' {
        maxForks = 20
        ext.args = {
            [
                "input_type": params.sigprofiler_input_type,
                "context_type": params.sigprofiler_context_type,
                "minimum_signatures": params.sigprofiler_minimum_signatures,
                "maximum_signatures": params.sigprofiler_maximum_signatures,
                "nmf_replicates": params.sigprofiler_nmf_replicates,
                "seeds": params.sigprofiler_seeds,
                "min_nmf_iterations": params.sigprofiler_min_nmf_iterations,
                "max_nmf_iterations": params.sigprofiler_max_nmf_iterations,
                "nmf_test_conv": params.sigprofiler_nmf_test_conv
            ]
        }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/sigprofiler/${meta.id}/" },
                pattern: "*{yml,results/*}"
            ]
        ]
    }
}
