process {
    withName: 'SIG_PROFILER'{
	memory = '100 GB'
        time = '3h'
        singularity.envWhitelist = ["SINGULARITY_TMPDIR"]
        singularity.runOptions = '--bind /orfeo:/orfeo --bind $SINGULARITY_TMPDIR:/tmp --writable-tmpfs'
        cpus = 24
        maxForks = 20
        errorStrategy = 'finish'
        ext.args = {[
            "reference_genome": params.sigprofiler_reference_genome,
            "exome": params.sigprofiler_exome,
            "volume": params.sigprofiler_volume,
            "input_type": params.sigprofiler_input_type,
            "context_type": params.sigprofiler_context_type,
            "minimum_signatures": params.sigprofiler_minimum_signatures,
            "maximum_signatures": params.sigprofiler_maximum_signatures,
            "nmf_replicates": params.sigprofiler_nmf_replicates,
            "resample": params.sigprofiler_resample,
            "seeds": params.sigprofiler_seeds,
            "matrix_normalization": params.sigprofiler_matrix_normalization,
            "nmf_init": params.sigprofiler_nmf_init,
            "min_nmf_iterations": params.sigprofiler_min_nmf_iterations,
            "max_nmf_iterations": params.sigprofiler_max_nmf_iterations,
            "nmf_test_conv": params.sigprofiler_nmf_test_conv,
            "nmf_tolerance": params.sigprofiler_nmf_tolerance,
            "cpu": params.sigprofiler_cpu,
            "cosmic_version": params.sigprofiler_cosmic_version,
            "make_decomposition_plots": params.sigprofiler_make_decomposition_plots,
            "collapse_to_SBS96": params.sigprofiler_collapse_to_SBS96,
            "get_all_signature_matrices": params.sigprofiler_get_all_signature_matrices,
            "export_probabilities": params.sigprofiler_export_probabilities
            //"activity file": params.sigprofiler_activity_file,
            "output_file": params.sigprofiler_output_file,
            "bin_size": params.sigprofiler_bin_size
        ]}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/SigProfiler/${meta.dataset}/" },
                pattern: "*{txt, pdf}"
            ]
        ]
    }
}
