process {
    withName: 'SPARSE_SIGNATURES'{
        memory = '150 GB'
        time = '12h'
        errorStrategy = 'finish'
        ext.args = {[
            "K" : params.sparsesignatures_K,
            "background_signature" : params.sparsesignatures_background_signature,
            "beta" : params.sparsesignatures_beta,
            "normalize_counts" : params.sparsesignatures_normalize_counts,
            "nmf_runs" : params.sparsesignatures_nmf_runs,
            "iterations" : params.sparsesignatures_iterations,
            "max_iterations_lasso" : params.sparsesignatures_max_iterations_lasso,
            "num_processes" : params.sparsesignatures_num_processes,
            "cross_validation_entries" : params.sparsesignatures_cross_validation_entries,
            "cross_validation_repetitions" : params.sparsesignatures_cross_validation_repetitions,
            "cross_validation_iterations" : params.sparsesignatures_cross_validation_iterations,
            "lambda_values_alpha" : params.sparsesignatures_lambda_values_alpha,
            "lambda_values_beta" : params.sparsesignatures_lambda_values_beta,
            "lambda_rate_alpha" : params.sparsesignatures_lambda_rate_alpha,
            "verbose": params.sparsesignatures_verbose,
            "seed": params.sparsesignatures_seed
        ]}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/${meta.id}/SparseSignatures/" },
                pattern: "*{rds, pdf}"
            ]
        ]
    }
 }
