process {
    withName: 'TINC'{
        memory = '16 GB'
        cpus = '4'
        time = '6h'
        errorStrategy = 'finish'

        ext.args = {[
            "vaf_range_tumour" : params.vaf_range_tumour, 
            "cutoff_miscalled_clonal" : params.cutoff_miscalled_clonal, 
            "cutoff_lv_assignment" : params.cutoff_lv_assignment,
            "N" : params.N, 
            "fast" : params.fast
        ]}

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/tinc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds, pdf}"
            ]
        ]
    }
}
