process {
    withName: 'TINC'{
        ext.args = {[
            "normal_contamination_level" : params.tinc_normal_contamination_lv
        ]}

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/qc/tinc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,csv}"
            ]
        ]
    }
}
