process {
    withName: 'TINC'{
        memory='16 GB'
        cpus='4'
        time='6h'
        errorStrategy='finish'
        ext.args = {[
            "vaf_range_tumour" : params.tinc_vaf_range_tumour, 
            "cutoff_miscalled_clonal" : params.tinc_cutoff_miscalled_clonal, 
            "cutoff_lv_assignment" : params.tinc_cutoff_lv_assignment,
            "N" : params.tinc_N, 
            "fast" : params.tinc_fast,
            "normal_contamination_level" : params.tinc_normal_contamination_lv
        ]}

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/tinc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,csv}"
            ]
        ]
    }
}
