process {
    withName: 'VIBER' {
        memory='128 GB'
        time='2h'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/viber/${meta.dataset}/${meta.patient}/" },
                pattern: "*{rds, pdf, png}"
            ]
        ]
        ext.args = {
            [
                "K" : params.viber_K,
                "samples" : params.viber_samples,
                "alpha_0" : params.viber_alpha_0,
                "a_0" : params.viber_a_0,
                "b_0" : params.viber_b_0,
                "maxIter" : params.viber_maxIter,
                "epsilon_conv" : params.viber_epsilon_conv,
                "q_init" : params.viber_q_init,
                "trace" : params.viber_trace,
                "binomial_cutoff" : params.viber_binomial_cutoff,
                "dimensions_cutoff" : params.viber_dimensions_cutoff,
                "pi_cutoff" : params.viber_pi_cutoff,
                "re_assign" : params.viber_re_assign,
                "mode": params.mode // should be substituted by tail
            ]
        }
    }
}
