/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params { 
    publish_dir = "$baseDir/test_publish"
    outdir = "$baseDir/test_results"
    mode = "single_sample"
}

process {
    executor = 'local'
}