/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Take as example from test.config
params {
    modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"
    pipelines_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
