/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Take as example from test.config
params {
    modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"
    pipelines_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/test_samplesheet.csv"

    // Genome references
    genome = "GRCh38"
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/REF/FASTA/chr17_genome.fasta"
    filter = false

    drivers_table = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/DRIVER_ANNOTATION/ANNOTATE_DRIVER/Compendium_Cancer_Genes.tsv"

    download_cache_vep = false
    vep_cache = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/REF/VEP/vep.tar.gz"

    vep_genome = "GRCh38"
    vep_cache_version = "110"
    vep_species = "Homo_sapiens"

    modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"
    pipelines_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/"

    max_cpus   = 4
    max_memory = '30.GB'
    max_time   = '4.h'

}

process {
    resourceLimits = [
        cpus: 4,
        memory: '30.GB',
        time: '4.h'
    ]
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
