nextflow.enable.dsl=2
cleanup=false

// singularity {
//   enabled = true
//   singularity.envWhitelist = ["SINGULARITY_TMPDIR"]
//   runOptions = '--bind /orfeo:/orfeo --bind $SINGULARITY_TMPDIR:/tmp'
// }

process {
    executor='slurm'
    queue='THIN'
    errorStrategy = 'finish'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }

     withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
}

process {
  withName: 'VCF2MAF' {
    memory = '10 GB'
    container = 'https://depot.galaxyproject.org/singularity/vcf2maf%3A1.6.20--0'
  }

  withName: 'MAFTOOLS' {
    memory = '5 GB'
    container = 'https://depot.galaxyproject.org/singularity/bioconductor-maftools%3A2.8.0--r41hd029910_0'
    ext.args   = {[
        "rmOutlier": params.maftools_rmOutlier,
        "addStat": params.maftools_addStat,
        "titvRaw": params.maftools_titvRaw,
        "showBarcodes": params.maftools_showBarcodes,
        "dashboard": params.maftools_dashboard,
        "top": params.maftools_top,
        "minMut": params.maftools_minMut,
        "genes": params.maftools_genes,
        "altered": params.maftools_altered,
        "removeNonMutated": params.maftools_removeNonMutated
    ]}
  }
 
  withName: "CTREE" {
    errorStrategy='ignore'
    memory='50 GB'
    time='2h'
    container='file:///fast/cdslab/ebusca00/singularity/cdslab.sif'
    ext.args = {[
      "sspace_cutoff" : params.ctree_sspace_cutoff,
      "n_sampling" : params.ctree_n_sampling,
      "store_max" : params.ctree_store_max,
      "mode": params.mode
    ]}
  }

  
  withName: 'TINC' {
    container = 'docker://vvvirgy/tinc:v2'
    memory = '100 GB'
    time = '2h'
    errorStrategy = 'finish'
  }
  
}
