process {
    withName: 'BCFTOOLS_VIEW' {
        ext.args = { '-f PASS -Oz --write-index=tbi' }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/filter/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{gz,tbi,vcf}"
            ]
        ]
    }

    withName: 'CNAQC'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/qc/cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf}"
            ]
        ]
        ext.args = {
            [
            "--genome ${params.genome}",
            "--matching_strategy ${params.cnaqc_matching_strategy}",
            "--karyotypes ${params.cnaqc_karyotypes}",
            "--min_karyotype_size ${params.cnaqc_min_karyotype_size}",
            "--min_absolute_karyotype_mutations ${params.cnaqc_min_absolute_karyotype_mutations}",
            "--p_binsize_peaks ${params.cnaqc_p_binsize_peaks}",
            "--purity_error ${params.cnaqc_purity_error}",
            "--VAF_tolerance ${params.cnaqc_vaf_tolerance}",
            "--n_bootstrap ${params.cnaqc_n_bootstrap}",
            "--kernel_adjust ${params.cnaqc_kernel_adjust}",
            "--starting_state_subclonal_evolution ${params.cnaqc_starting_state_subclonal_evolution}",
            "--cluster_subclonal_CCF ${params.cnaqc_cluster_subclonal_ccf}",
            "--muts_per_karyotype ${params.cnaqc_muts_per_karyotype}",
            "--cutoff_QC_PASS ${params.cnaqc_cutoff_qc_pass}",
            "--method ${params.cnaqc_method}"
        ]
        .findAll { it }
        .join(' ')
        .trim()
        }
    }

    withName: 'JOIN_CNAQC'{

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/qc/join_cnaqc/${meta.dataset}/${meta.patient}/" },
                pattern: "*{rds}"
            ]
        ]
        ext.args = {
            [
                "qc_filter": params.filter,
                "keep_original": params.joincnaqc_keep_original
            ]
        }
    }

    withName: 'CTREE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/ctree/${meta.dataset}/${meta.patient}/" },
                pattern: "**{rds,pdf,png}"
            ]
        ]
    }

    withName: 'ANNOTATE_DRIVER' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/driver_annotation/annotate_driver/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"},
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'ENSEMBLVEP_VEP'{
        ext.args = { "--plugin SingleLetterAA --force --no_stats --everything --use_given_ref --cache --offline --vcf --compress_output bgzip" }
        ext.prefix = { "${meta.id}.annotated" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{vcf.gz,tab.gz,json.gz,html}"
            ]
        ]
    }

    withName: 'ENSEMBLVEP_DOWNLOAD'{
            ext.args   = { '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE' }

            publishDir = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/references/VEP/"}
                ]
            ]
        }

    withName: 'TABIX_TABIX'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_annotation/vep/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{tbi,csi}"
            ]
        ]
    }

    withName: 'UNTAR'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/references/vep/" },
                pattern: "*"
            ]
        ]
    }

    withName: 'VCF2MAF'{
        ext.args = "--ncbi-build ${params.genome}"

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/maftools/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{maf}"
            ]
        ]
    }

    withName: 'CNA2CNAQC'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cna2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'VCF2CNAQC'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/vcf2cnaqc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }
    withName: 'CNAQC2TSV'{
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/formatter/cnaqc2tsv/${meta.dataset}/${meta.patient}/" },
                pattern: "*{tsv}"
            ]
        ]
    }

    withName: 'GET_POSITIONS_ALL' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/"},
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'GET_POSITIONS_REL' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"},
                pattern: "*"
            ]
        ]
    }

    withName: 'JOIN_POSITIONS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/positions/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds}"
            ]
        ]
    }

    withName: 'BCFTOOLS_MPILEUP' {
        ext.args = { "--annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR" }
        ext.args2  = { "-m" }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/lifter/mpileup/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{gz,tbi,txt,vcf}"
            ]
        ]
    }

    withName: 'MOBSTER' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/mobster/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,png}"
            ]
        ]
        ext.args = {
            [
                "K" : params.mobster_k,
                "tail" : params.mobster_tail,
                "pi_cutoff" : params.mobster_pi_cutoff,
                "n_cutoff" : params.mobster_n_cutoff,
                "min_VAF" : params.mobster_min_vaf
            ]
        }
    }

    withName: 'PYCLONEVI' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/pyclonevi/${meta.dataset}/${meta.patient}/" },
                pattern: "*{csv,h5,tsv,txt}"
            ]
        ]
        ext.args   = {
            [
                "n_cluster": params.pyclonevi_n_cluster,
                "density": params.pyclonevi_density,
                "n_grid_point": params.pyclonevi_n_grid_point,
                "n_restarts": params.pyclonevi_n_restarts
            ]
        }
    }

    withName: 'SIGPROFILER' {
        maxForks = 20
        ext.args = {
            [
                "input_type": params.sigprofiler_input_type,
                "context_type": params.sigprofiler_context_type,
                "minimum_signatures": params.sigprofiler_minimum_signatures,
                "maximum_signatures": params.sigprofiler_maximum_signatures,
                "nmf_replicates": params.sigprofiler_nmf_replicates,
                "seeds": params.sigprofiler_seeds,
                "min_nmf_iterations": params.sigprofiler_min_nmf_iterations,
                "max_nmf_iterations": params.sigprofiler_max_nmf_iterations,
                "nmf_test_conv": params.sigprofiler_nmf_test_conv
            ]
        }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/sigprofiler/${meta.id}/" },
                pattern: "*{results/*}"
            ]
        ]
    }

    withName: 'SPARSE_SIGNATURES'{
        ext.args = {[
            "K" : params.sparsesignatures_k,
            "nmf_runs" : params.sparsesignatures_nmf_runs,
            "iterations" : params.sparsesignatures_iterations,
            "max_iterations_lasso" : params.sparsesignatures_max_iterations_lasso,
            "num_processes" : params.sparsesignatures_num_processes,
            "cross_validation_entries" : params.sparsesignatures_cross_validation_entries,
            "cross_validation_repetitions" : params.sparsesignatures_cross_validation_repetitions,
            "cross_validation_iterations" : params.sparsesignatures_cross_validation_iterations,
            "lambda_values_alpha" : params.sparsesignatures_lambda_values_alpha,
            "lambda_values_beta" : params.sparsesignatures_lambda_values_beta,
            "lambda_rate_alpha" : params.sparsesignatures_lambda_rate_alpha,
            "seed": params.sparsesignatures_seed
        ]}
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/sparsesignature/${meta.id}/" },
                pattern: "*{rds,pdf}"
            ]
        ]
    }

    withName: 'TINC'{
        ext.args = {[
            "normal_contamination_level" : params.tinc_normal_contamination_lv
        ]}

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/qc/tinc/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/" },
                pattern: "*{rds,pdf,csv}"
            ]
        ]
    }

    withName: 'VIBER' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/subclonal_deconvolution/viber/${meta.dataset}/${meta.patient}/" },
                pattern: "*{rds,pdf,png}"
            ]
        ]
        ext.args = {
            [
                "K" : params.viber_k,
                "samples" : params.viber_samples,
                "alpha_0" : params.viber_alpha_0,
                "a_0" : params.viber_a_0,
                "b_0" : params.viber_b_0,
                "maxIter" : params.viber_max_iter,
                "epsilon_conv" : params.viber_epsilon_conv,
                "q_init" : params.viber_q_init,
                "trace" : params.viber_trace,
                "binomial_cutoff" : params.viber_binomial_cutoff,
                "dimensions_cutoff" : params.viber_dimensions_cutoff,
                "pi_cutoff" : params.viber_pi_cutoff,
                "re_assign" : params.viber_re_assign
            ]
        }
    }

    withName: 'PREPARE_CLUSTER' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/assign_signature/prepare_cluster/${meta.dataset}/${meta.patient}/" },
                pattern: "*{txt}"
            ]
        ]
    }

    withName: 'ASSIGN_CLUSTER' {
        ext.args = {
            [
                "input_type": params.sigprofiler_input_type,
                "context_type": params.sigprofiler_context_type,
                "minimum_signatures": params.sigprofiler_minimum_signatures,
                "maximum_signatures": params.sigprofiler_maximum_signatures,
                "nmf_replicates": params.sigprofiler_nmf_replicates,
                "seeds": params.sigprofiler_seeds,
                "min_nmf_iterations": params.sigprofiler_min_nmf_iterations,
                "max_nmf_iterations": params.sigprofiler_max_nmf_iterations,
                "nmf_test_conv": params.sigprofiler_nmf_test_conv
            ]
        }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/assign_signature/assign_cluster/${meta.dataset}/${meta.patient}/"}
            ]
        ]
    }

    withName: 'COHORT_QC'{

        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/genome_interpreter/cohort_qc/${meta.id}/" },
                pattern: "*{rds,pdf}"
            ]
        ]
    }

        withName: 'COHORT_SIGNATURES' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/genome_interpreter/cohort_signatures/${meta.dataset}/"}
            ]
        ]
    }

    withName: 'SPARSESIGNATURE_ASSIGN' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signature_deconvolution/sparsesignature/${meta.id}/"}
            ]
        ]
    }

    withName: 'SUBCLONAL_INTERPRETATION' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/genome_interpreter/subclonal_interpretation/${meta.patient}/"},
                pattern: "*{rds,pdf}"
            ]
        ]
        ext.args = {
            [
                "tools": params.tools
            ]
        }
    }

    withName: 'SAMPLE_MUTATIONS_ANALYSIS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/mutations_analysis/${meta.dataset}/${meta.patient}/${meta.tumour_sample}/"}
            ]
        ]
        ext.args = {
            [
                "--sequenced_mb ${params.mut_sequenced_mb}", 
                "--genome ${params.genome}"
        ]
        .findAll { it }
        .join(' ')
        .trim()
        }
    }

    withName: 'COHORT_MUTATIONS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/genome_interpreter/cohort_mutations/${meta.dataset}/"}
            ]
        ]
        ext.args = {
            [
                "--sequenced_mb ${params.mut_sequenced_mb}"
        ]
        .findAll { it }
        .join(' ')
        .trim()
        }
    }
}
