/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/tumourevo -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/test_samplesheet.csv"
    filter = false
    qc_chr = false

    // Genome references
    genome = "GRCh38"
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/REF/FASTA/chr17_genome.fasta"

    drivers_table = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tumourevo/data/DRIVER_ANNOTATION/ANNOTATE_DRIVER/Compendium_Cancer_Genes.tsv"

    download_cache_vep = true
    vep_genome = "GRCh38"
    vep_cache_version = "110"
    vep_species = "homo_sapiens"
}
